* {
  box-sizing: border-box;
}

:root {
  --primary: #89b4fa;
  --text: #cdd6f4;
  --subtext: #bac2de;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --surface2: #585b70;
  --surface1: #45475a;
  --base2: #181825;
  --base1: #1e1e2e;
  --bg: #11111b;

  --imgcol: linear-gradient(
    rgba(0, 0, 0, var(--imgdim)),
    rgba(0, 0, 0, var(--imgdim))
  ); /* Filter color */

  --imgblur: blur(0px);

  --imgsrc: url("");
}

body {
  top: 0;
  margin: 0;

  color: var(--text);
  background: var(--bg);
  background-image: var(--imgcol), var(--imgsrc);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Open Sans", "Noto Sans", "Liberation Sans", sans-serif;
  font-size: 14px;

  backdrop-filter: var(--imgblur);
}

input {
  font-family: inherit;
  font-size: inherit;

  padding: 0.8rem 1.2rem;
  width: 100%;

  border: unset;
  border-radius: 20px;
  background-color: var(--base1);
}

input:focus {
  border: none;
  outline: unset;
  color: inherit;
}

::placeholder {
  color: var(--overlay2);
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.panel {
  display: inline-block;
  width: auto;
  margin: auto;
  padding: 10px;
}

#clock {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hour,
#minute,
#separator {
  font-size: 4rem;
  font-weight: bolder;
}

#greetings {
  text-align: center;
  font-size: 1.5rem;
}

#search-form {
  display: flex;
  position: absolute;
  top: 25px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
  border-radius: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
}

#search-btn {
  background-color: var(--overlay2);
  position: absolute;
  right: 0;
  height: 100%;
  border-radius: 0 16px 16px 0;
  padding: 0 0.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

#search-btn svg {
  filter: brightness(0) invert(1);
}

#links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  width: 40%;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  min-height: 120px;
  border-radius: 10px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
  background-color: var(--base1);
  transition: 0.2s ease-out;
}

.button svg {
  filter: brightness(0) invert(1);
  width: 50px;
  height: 50px;
}

.button img {
  width: 50px;
  height: 50px;
}

.button:hover {
  background-color: var(--primary);
  transform: translateY(-0.2rem);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
}

.button:hover svg,
.button:hover img {
  filter: brightness(0);
}
